@import "./partials/setup";
@import "./partials/base";
@import "./partials/bannerCanvas.scss";
@import "./partials/header";
@import "./partials/aboutMe";
@import "./partials/skills";
@import "./partials/projects";
@import "./partials/contact";
@import "./partials/footer";


body {
    max-width: 1920px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 1180px; 
    margin: 0 auto;
    width: 90%;
}