.contact__section {
    padding: 10vh 0px;
    background-color: #34495e;
    text-align: center;
    color: white;
    h2 {
        @include remCalc(50);
    }
    span {
        color: #e74c3c;
    }
    h3  {
        text-transform: uppercase;
        @include remCalc(20);
    }
    h5 {
        margin: 20px 0px;
        @include remCalc(16);
    }
    .email {
        display: inline-block;
        padding-bottom: 5px;
        color: white;
        border-bottom: 3px solid transparent;
        @include remCalc(16);
        transition: all 0.5s ease-out;
        &:hover, &:focus {
            color: #e74c3c;
            border-bottom: 3px solid #e74c3c;
        }
    }
}

.contact__section__accentBar {
    display: flex;
    margin: 20px auto;
    width: 250px;
    height: 22px;
    .accentBar {
        width: 100px;
        height: 3px;
        margin: 8px 8px;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
    }
    img {
        width: 22px;
    }
}

.contact__socialLinks {
    @include remCalc(50);
    a {
        color: white;
        transition: all 0.5 ease-out;
        &:hover, &:focus {
            color: #e74c3c;
        }    
    }
    .fa-github-square, .fa-linkedin, .fa-twitter-square {
        transition: all 0.5s ease-out;
        &:hover, &:focus {
            transform: scale(1.2);
        }
    }
}

// .contact__form {
//     display: flex;
//     input {
//         width: 300px;
//     }
//     input[type="submit"] {
//         height: 30px;
//     }
// }

// .contact__message {
//     width: 540px;
//     margin: 0px 20px;
//     textarea {
//         width: 100%;
//     }
// }