footer {
    padding: 25px 0px;
    text-align: center;
    background-color: #e74c3c;
    color: white;
    h5 {
        margin: 10px 0px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}