header {
    padding-top: 40vh;
    padding-bottom: 5vh; 
    min-height: 100vh;
    background-image: url(../assets/hero-bg-pattern.png);
    background-attachment: fixed;
}

header nav {
    text-transform: uppercase;
}

header h1 {
    @include remCalc(88);
}

header button{
    display: block;
    margin: 0 auto;
}

.header__heroText h1:first-child {
    color: #e74c3c;
}

.header__heroText h1:last-child {
    color: #34495e;
}

.header__fixedNav {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 25px 6%;
    background-color: white;
}

.personal-logo h3 {
    color: #34495e;
    padding: 4px;
    border-left: 3px solid #e74c3c;
    border-bottom: 3px solid #e74c3c;
}

.flex-nav {
    display: flex;
    // justify-content: space-between;
    li {
        font-family: 'Raleway', sans-serif;
        margin-left: 20px;
        text-transform: uppercase;
    }
    a {
        color: #34495e;
        font-weight: 700;
        padding: 5px 10px;
        border: 3px solid transparent;
        transition: all 0.5s ease-out;
        &:hover, &:focus, &:active  {
            color: #e74c3c;
            border-bottom: 3px solid #34495e;
        }
    }
}

.hamburger-menu {
    display: none;
    color: #e74c3c;
    @include remCalc(25);
}

#top-menu li.active a {
    color: #e74c3c;
    border-bottom: 3px solid #34495e;
}

@media (max-width: 744px) {
    header h1 {
        @include remCalc(60);
    }
}

@media (max-width: 650px) {
    .flex-nav {
        display: none;
    }
    .hamburger-menu {
        display: inline-block;
    }
}

@media (max-width: 328px) {
    header h1 {
        @include remCalc(50);
    }
}