.projects__section {
    padding: 10vh 0px;
    text-align: center;
    h2 {
        margin-bottom: 10px;
        color: #1abc9c;
        @include remCalc(50);
    }
    h3 {
        text-transform: uppercase;
    }
}

.projects__section__accentBar {
    display: flex;
    margin: 20px auto;
    width: 250px;
    height: 22px;
    .accentBar {
        width: 100px;
        height: 3px;
        margin: 8px 8px;
        border-top: 0.5px solid #1abc9c;
        border-bottom: 0.5px solid #1abc9c;
    }
    img {
        width: 22px;
    }
}

.project { 
    display: flex;
    text-align: left;
    border: 1px solid red;
}

.project__decal {
    background-color: #fd5f42; 
    width: 140px;
    height: 140px;
}