.projects__section {
    padding: 10vh 0px;
    text-align: center;
    h2 {
        margin-bottom: 10px;
        color: #e74c3c;
        @include remCalc(50);
    }
    h3 {
        text-transform: uppercase;
        @include remCalc(20);
    }
}

.projects__section__accentBar {
    display: flex;
    margin: 20px auto;
    width: 250px;
    height: 22px;
    .accentBar {
        width: 100px;
        height: 3px;
        margin: 8px 8px;
        border-top: 0.5px solid #e74c3c;
        border-bottom: 0.5px solid #e74c3c;
    }
    img {
        width: 22px;
    }
}

.project { 
    display: flex;
    text-align: left;
    margin: 150px 0px;
    h3 {
        margin: 20px 0px;
    }
    h4 {
        margin: 20px 0px;
    }
    p {
        margin: 20px 0px;
        line-height: 35px;
    }
    img {
        width: 50%;
        height: 343px;
    }
    .project__text {
        width: 50%;
    }
    .project__links a{
        display: inline-block;
        margin-right: 20px;
        padding: 15px 30px;
        background-color: #34495e;
        border-radius: 50px;
        color: white; 
        border: 3px solid transparent;
        transition: all 0.5s ease-out;
        &:hover, &:focus {
            background-color: white;
            color: #34495e;
            border: 3px solid #34495e;
        }
    }
}

.project__decal {
    background-color: #fd5f42; 
    width: 140px;
    height: 140px;
}

.textLeft {
    order: 1;
}

.project__imageRight {
    order: 2;
}

@media (max-width: 939px) {
.project {
    flex-direction: column;
    text-align: center;
    .project__text{
        width: 100%;
    }
    img {
        width: 650px;
        margin: 0 auto;
    }
    .project__links a {
        margin: 0 auto
    }
}
    .textLeft {
        order: 2;
    }

    .project__imageRight {
        order: 1;
    }
}

@media (max-width: 669px) {
    .project {
        img {
            width: 310px;
            height: 180px;
        }
    }
}

@media (max-width: 354px) {
    .project {
        .project__links a {
            margin: 10px;
        }
    }
}