article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  /*Default font-size is 16px*/ }

body {
  margin: 0 auto; }

h1 {
  margin: 0px;
  padding: 0px; }

h2 {
  margin: 0px;
  padding: 0px; }

h3 {
  margin: 0px;
  padding: 0px; }

h4 {
  margin: 0px;
  padding: 0px; }

h5 {
  margin: 0px;
  padding: 0px; }

nav {
  margin: 0px;
  padding: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none; }

p {
  margin: 0px;
  padding: 0px; }

header {
  padding-top: 40vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  background-image: url(../assets/hero-bg-pattern.png);
  background-attachment: fixed; }

header nav {
  text-transform: uppercase; }

header h1 {
  font-size: 5.5rem; }

header button {
  display: block;
  margin: 0 auto; }

.header__heroText h1:first-child {
  color: #e74c3c; }

.header__heroText h1:last-child {
  color: #34495e; }

.header__fixedNav {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 25px 6%;
  background-color: white; }

.flex-nav {
  display: flex;
  justify-content: space-between; }
  .flex-nav li {
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    text-transform: uppercase; }
  .flex-nav a {
    color: #34495e;
    font-weight: 700;
    padding: 5px 10px;
    border: 3px solid transparent;
    transition: all 0.5s ease-out; }
    .flex-nav a:hover, .flex-nav a:focus, .flex-nav a:active {
      color: #e74c3c;
      border-bottom: 3px solid #34495e; }

#top-menu li.active a {
  color: #e74c3c;
  border-bottom: 3px solid #34495e; }

.about__section {
  padding: 10vh 0px;
  background-color: #34495e;
  color: white; }

.about__section__content {
  display: flex; }

.about__text {
  width: 60%;
  text-align: center;
  order: 1; }
  .about__text h2 {
    margin-bottom: 10px;
    font-size: 3.125rem; }
  .about__text h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.25rem; }
  .about__text p {
    line-height: 28px;
    margin-bottom: 15px;
    text-align: justify; }

.about__section__accentBar {
  display: flex;
  margin: 20px auto;
  width: 250px;
  height: 40px; }
  .about__section__accentBar .accentBar {
    width: 100px;
    height: 3px;
    margin: 8px 8px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  .about__section__accentBar img {
    width: 40px; }

.about__picture {
  margin-top: 60px;
  margin-left: 10%;
  height: 100%;
  border-radius: 50%;
  order: 2; }

.about__picture img {
  border-radius: 50%;
  padding: 10px;
  width: 325px;
  height: 325px;
  box-shadow: inset 0 0 0 3px white; }

@media (max-width: 882px) {
  .about__section__content {
    flex-direction: column;
    align-items: center; }
  .about__text {
    width: 100%; }
  .about__picture {
    order: 0;
    margin: 20px 0px; } }

@media (max-width: 369px) {
  .about__picture img {
    width: 300px;
    height: 300px; } }

.skills__section {
  background-color: #e74c3c;
  color: #f9f9f9;
  text-align: center;
  padding: 10vh 0px; }
  .skills__section h2 {
    font-size: 3.125rem; }
  .skills__section h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.25rem; }

.skills__section__accentBar {
  display: flex;
  margin: 20px auto;
  width: 250px;
  height: 22px; }
  .skills__section__accentBar .accentBar {
    width: 100px;
    height: 3px;
    margin: 8px 8px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  .skills__section__accentBar img {
    width: 22px; }

.skills__list {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap; }
  .skills__list li {
    width: 20%;
    margin: 35px 0px;
    transition: all 0.5s;
    font-size: 4.6875rem; }
    .skills__list li:hover {
      color: #34495e;
      transform: scale(1.2); }
  .skills__list p {
    font-size: 1rem; }

.section__curtain {
  width: 100%;
  height: 0px;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  border-top: 78px solid #e74c3c; }

@media (max-width: 1439px) {
  .section__curtain {
    display: none; } }

@media (max-width: 699px) {
  .skills__list li {
    width: 33%; } }

@media (max-width: 549px) {
  .skills__list li {
    width: 50%; } }

.projects__section {
  padding: 10vh 0px;
  text-align: center; }
  .projects__section h2 {
    margin-bottom: 10px;
    color: #e74c3c;
    font-size: 3.125rem; }
  .projects__section h3 {
    text-transform: uppercase;
    font-size: 1.25rem; }

.projects__section__accentBar {
  display: flex;
  margin: 20px auto;
  width: 250px;
  height: 22px; }
  .projects__section__accentBar .accentBar {
    width: 100px;
    height: 3px;
    margin: 8px 8px;
    border-top: 0.5px solid #e74c3c;
    border-bottom: 0.5px solid #e74c3c; }
  .projects__section__accentBar img {
    width: 22px; }

.project {
  display: flex;
  text-align: left;
  margin: 150px 0px; }
  .project h3 {
    margin: 20px 0px; }
  .project h4 {
    margin: 20px 0px; }
  .project p {
    margin: 20px 0px;
    line-height: 35px; }
  .project img {
    width: 50%;
    height: 343px; }
  .project .project__text {
    width: 50%; }
  .project .project__links a {
    display: inline-block;
    margin-right: 20px;
    padding: 20px 40px;
    background-color: #34495e;
    border-radius: 50px;
    color: white;
    border: 3px solid transparent;
    transition: all 0.5s ease-out; }
    .project .project__links a:hover, .project .project__links a:focus {
      background-color: white;
      color: #34495e;
      border: 3px solid #34495e; }

.project__decal {
  background-color: #fd5f42;
  width: 140px;
  height: 140px; }

.textLeft {
  order: 1; }

.project__imageRight {
  order: 2; }

@media (max-width: 939px) {
  .project {
    flex-direction: column;
    text-align: center; }
    .project .project__text {
      width: 100%; }
    .project img {
      width: 650px;
      margin: 0 auto; }
    .project .project__links a {
      margin: 0 auto; }
  .textLeft {
    order: 2; }
  .project__imageRight {
    order: 1; } }

@media (max-width: 669px) {
  .project img {
    width: 310px;
    height: 180px; } }

@media (max-width: 354px) {
  .project .project__links a {
    margin: 10px; } }

.contact__section {
  padding: 10vh 0px;
  background-color: #34495e;
  text-align: center;
  color: white; }
  .contact__section h2 {
    font-size: 3.125rem; }
  .contact__section span {
    color: #e74c3c; }
  .contact__section h3 {
    text-transform: uppercase;
    font-size: 1.25rem; }
  .contact__section h5 {
    margin: 20px 0px;
    font-size: 1rem; }
  .contact__section .email {
    display: inline-block;
    padding-bottom: 5px;
    color: white;
    border-bottom: 3px solid transparent;
    font-size: 1rem;
    transition: all 0.5s ease-out; }
    .contact__section .email:hover, .contact__section .email:focus {
      color: #e74c3c;
      border-bottom: 3px solid #e74c3c; }

.contact__section__accentBar {
  display: flex;
  margin: 20px auto;
  width: 250px;
  height: 22px; }
  .contact__section__accentBar .accentBar {
    width: 100px;
    height: 3px;
    margin: 8px 8px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  .contact__section__accentBar img {
    width: 22px; }

.contact__socialLinks {
  font-size: 3.125rem; }
  .contact__socialLinks a {
    color: white;
    transition: all 0.5 ease-out; }
    .contact__socialLinks a:hover, .contact__socialLinks a:focus {
      color: #e74c3c; }
  .contact__socialLinks .fa-github-square, .contact__socialLinks .fa-linkedin, .contact__socialLinks .fa-twitter-square {
    transition: all 0.5s ease-out; }
    .contact__socialLinks .fa-github-square:hover, .contact__socialLinks .fa-github-square:focus, .contact__socialLinks .fa-linkedin:hover, .contact__socialLinks .fa-linkedin:focus, .contact__socialLinks .fa-twitter-square:hover, .contact__socialLinks .fa-twitter-square:focus {
      transform: scale(1.2); }

footer {
  padding: 25px 0px;
  text-align: center;
  background-color: #e74c3c;
  color: white; }
  footer h5 {
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px; }

body {
  max-width: 1920px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  width: 95%; }
